*{
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	
	/*
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-x: hidden;
	position: relative;*/
}

@keyframes colorchange {
    0% {
      color: lightskyblue;
    }
    10% {
      color: mediumorchid;
    }
    20% {
      color: lightgreen;
    }
    30% {
      color: white;
    }
    40% {
      color: mediumspringgreen;
    }
    50% {
      color: mediumturquoise;
    }
    60% {
      color: orange;
    }
    70% {
      color: lightskyblue;
    }
    80% {
      color: khaki;
    }
    90% {
      color: magenta;
    }
    100% {
      color: salmon;
    }
}

body
{
	font-size: 46px;
	text-align: center;
	-webkit-user-select: none;
  	user-select: none; 

	background-size: cover;
	background-repeat: no-repeat;
  	background-attachment: fixed;
    height: 100vh;

	overflow: hidden;
}

.cronometro{
	display: flex;
    justify-content: center;
	width: 500px;
	height: 100px;
    align-items: center;
	margin: auto;
	margin-top: 1px;
}
#hms{
    height:100px;
    color:#fff; 
 }


#bloque{
    text-align: center;
    background: transparent;
    border-radius: 75px;
    height: fit-content;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

input[type="text"] {
    font-size: 25px;
	background-color:rgba(0, 0, 0, 0);
    color:white;
    border: none;
    outline:none;
    height: 70px;
	width: 250px;
    transition:height 1s;
	border-bottom: 3px solid #55B790;
	margin: 50px auto 0px auto;
}

#piece_container
{
	background-color: #6e95ff;
	font-size: 0;
	height: 96%;
	left: 2%;
	position: absolute;
	top:2%;
	width: 96%;
}
.jugar{
	background-color: #ffffff;
	border-radius: 5px;
	margin: 10px auto;
	margin-left: 10px;
	position: relative;
}
.game_board
{
	background-color: #1AA36D;
	border-radius: 5px;
	margin: 5px auto;
	position: relative;
}
.reiniciar
{
	background-color: #ffffff;
	border-radius: 5px;
	margin: 10px auto;
	margin-left: 30px;
	position: relative;
}
#talking_box
{
	height:auto;
	margin: 20px;
	padding-bottom: 5px;
	font-family: 'Train One', cursive;
	font-size: 40px;
	color: white;
}
#talking_boxm
{
	height:auto;
	margin: 20px auto;
	padding-bottom: 5px;
	padding-left: 25px;
	font-family: 'Nunito', sans-serif;
	color: white;
}
.number_container
{	
		color: #6e71ff;
		cursor: default;
		height: 50%;
		left: 50%;
		margin: -25% 0 0-25%;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 50%;
}
.number_container_4x4
{	
		color: #6e71ff;
		cursor: default;
		height: 50%;
		left: 50%;
		margin: -25% 0 0-25%;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 50%;
}
#game_piece
{	
	background-color: #FFF3E6;
	border: 2px groove #737679;
	box-sizing: border-box;
	display: inline-block;	
	position: absolute;	
}
#game_piece_4x4
{	
	background-color: #FFF3E6;
	border: 2px groove #737679;
	box-sizing: border-box;
	display: inline-block;	
	position: absolute;	
}
#talking_box2
{
	height:auto;
	margin: 30px auto;
	margin-top: 10px;
	padding-bottom: 5px;
	font-family: 'Train One', cursive;
	font-size: 40px;
	animation: colorchange 10s infinite alternate;
}
#talking_box3
{
	height:auto;
	padding-bottom: 5px;
	font-family: 'Train One', cursive;
	color: white;
	font-family: 'Nunito', sans-serif;
}
#modoTablero{
	text-align-last: center;
}
#cats{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
   	height: auto;
	background-color: #1AA36D;
}

#regresar{
	border-radius: 100px;
	padding-left: 20px;
}

#textos{
	display: flex;
    justify-content: space-between;
	width: 500px;
    align-items: center;
	margin: auto;
}

#contenedorTituloPuntuacion{
	display: flex;
    justify-content: space-between;
    align-items: center;
	margin: auto;
}

#movBot{
	display: flex;
    align-items: center;
	margin: auto;
	margin-top: 5px;
}

#entrada_texto{
	text-align: center;
	margin: 5px;
}

#play:hover {
    transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
}

.reiniciar:hover {
    transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
}

#regresar:hover {
    transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
}

#score{
    height: auto;
	margin-left: 25px;
}

#score:hover {
    transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
}

#botones{
	display: flex;
    align-items: center;
	justify-content: center;
	padding: 15px;
	margin-top: 20px;
}

#filas{
	color: white;
}

#tablaPuntuacion{
	margin-left: auto;
  	margin-right: auto;
	margin-top: 25px;
}

/* Estilos para la tabla de puntuación */
  table {
	overflow: hidden;
  }
  
  tr:hover {
	background-color: blueviolet;
  }

  .tituloTabla:hover{
	background-color: rebeccapurple;
  }

  .tituloTabla{
	background-color: rebeccapurple;
  }
  
  td, th {
	position: relative;
  }
  td:hover::after{
	content: "";
	position: absolute;
	background-color: blueviolet;
	left: 0;
	top: -5000px;
	height: 10000px;
	width: 100%;
	z-index: -1;
  }
/* */

@media only screen and (min-width: 0px) and (min-height: 0px) {
	#regresar{
		width: 100px;
		height: 60px;
	}
	#hms{
		font-size:30px;
	}
	#movBot{
		width: 325px;
	}
	#talking_boxm
	{
		font-size: 20px;
		width: 350px;
	}
	.jugar
	{
		font-size: 50px;
		height: 70px;
		width: 300px;
	}
	.game_board
	{
		height: 325px;
		width: 325px;
	}
	.reiniciar
	{
		font-size: 20px;
		height: 40px;
		width: 200px;
	}
	#talking_box
	{
		width: 400px;
		font-size: 35px;
	}
	.number_container
	{	
		font-size: 40px;
	}
	#game_piece
	{			
		height: 103px;	
		width: 103px;
	}
	#game_piece_4x4
	{			
		height: 77px;		
		width: 77px;
	}
	.number_container_4x4
	{	
		font-size: 30px;
	}
	#talking_box2
	{
		width: 400px;
		font-size: 40px;
		margin-bottom: 5px;
	}
	#talking_box3
	{
		width: 400px;
		font-size: 20px;
		margin: 20px auto 0px auto;
	}
	#entrada_texto{
		width: 200px;
		font-size: 30px;
	}
	#modo{
		font-size: 20px;
		width: 150px;
		height: 30px;
	}
	#modoTablero{
		font-size: 20px;
		width: 75px;
		height: 30px;
	}
	#play {
		width: 80px;
		height: 80px;
	}
	#score{
		width: 75px;
	}
	#contenedorTituloPuntuacion{
		width: 450px;
	}
	#filas{
		font-size: 12px;
	}
	th{
		padding: 10px;
	}
	#tablaPuntuacion{
		margin-top: 10px;
	}

	#textos{
		width: 350px;
	}
}

@media only screen and (min-width: 600px) and (min-height: 750px) {
	#movBot{
		width: 400px;
	}
	#hms{
		font-size:35px;
	}
	#regresar{
		width: 90px;
		height: 75px;
	}
	#talking_boxm
	{
		font-size: 25px;
		width: 400px;
	}
	.jugar
	{
		font-size: 60px;
		height: 85px;
		width: 350px;
	}
	.game_board
	{
		height: 425px;
		width: 425px;
	}
	.reiniciar
	{
		font-size: 30px;
		height: 50px;
		width: 250px;
	}
	#talking_box
	{
		width: 500px;
		font-size: 40px;
	}
	#game_piece
	{			
		height: 133px;	
		width: 133px;
	}
	#game_piece_4x4
	{			
		height: 100px;		
		width: 100px;
	}
	.number_container_4x4
	{	
		font-size: 40px;
	}
	#talking_box2
	{
		width: 600px;
		font-size: 60px;
		margin-bottom: 15px;
	}
	#talking_box3
	{
		width: 600px;
		font-size: 30px;
		margin: 35px auto 0px auto;
	}
	#entrada_texto{
		width: 300px;
		font-size: 40px;
	}
	#modo{
		font-size: 25px;
		width: 200px;
		height: 35px;
	}
	#modoTablero{
		font-size: 25px;
		width: 100px;
		height: 35px;
	}
	#play {
		width: 100px;
		height: 100px;
	}
	.number_container
	{	
		font-size: 55px;
	}
	#score{
		width: 100px;
	}
	#contenedorTituloPuntuacion{
		width: 550px;
	}
	#filas{
		font-size: 17px;
	}
	th{
		padding: 10px;
	}
	#tablaPuntuacion{
		margin-top: 20px;
	}
	#textos{
		width: 450px;
	}
}

@media only screen and (min-width: 750px) and (min-height: 860px) {
	#movBot{
		width: 450px;
	}
	#hms{
		font-size:40px;
	}
	#regresar{
		width: 115px;
		height: 95px;
	}
	#talking_boxm
	{
		font-size: 30px;
		width: 600px;
	}
	.jugar
	{
		font-size: 75px;
		height: 100px;
		width: 400px;
	}
	.game_board
	{
		height: 500px;
		width: 500px;
	}
	.reiniciar
	{
		font-size: 35px;
		height: 50px;
		width: 450px;
	}
	#talking_box
	{
		width: 525px;
		font-size: 45px;
	}
	#game_piece
	{			
		height: 157px;		
		width: 157px;
	}
	#game_piece_4x4
	{			
		height: 120px;		
		width: 120px;
	}
	.number_container_4x4
	{	
		font-size: 50px;
	}
	.number_container
	{	
		font-size: 65px;
	}
	#talking_box2
	{
		width: 750px;
		font-size: 70px;
		margin-bottom: 30px;
	}
	#talking_box3
	{
		width: 750px;
		font-size: 40px;
		margin: 50px auto 0px auto;
	}
	#entrada_texto{
		width: 400px;
		font-size: 60px;
	}	
	#modo{
		font-size: 35px;
		width: 250px;
		height: 45px;
	}
	#modoTablero{
		font-size: 35px;
		width: 125px;
		height: 45px;
	}
	#play {
		width: 125px;
		height: 125px;
	}
	#score{
		width: 125px;
	}
	#botones{
		padding: 20px;
	}
	#contenedorTituloPuntuacion{
		width: 650px;
	}
	#filas{
		font-size:22px;
	}
	th{
		padding: 12px;
	}
	#tablaPuntuacion{
		margin-top: 30px;
	}
	#textos{
		width: 550px;
	}
}

@media only screen and (min-width: 900px) and (min-height: 970px) {
	#movBot{
		width: 700px;
		margin-top: 50px;
	}
	#hms{
		font-size:90px;
		margin-top: 100px;
	}
	#regresar{
		width: 150px;
		height: 175px;
	}
	#talking_boxm
	{
		font-size: 50px;
		width: 600px;
	}
	.jugar
	{
		font-size: 75px;
		height: 100px;
		width: 400px;
	}
	.game_board
	{
		margin-top: 75px;
		height: 700px;
		width: 700px;
	}
	.reiniciar
	{
		font-size: 60px;
		height: 90px;
		width: 500px;
	}
	#talking_box
	{
		width: 525px;
		font-size: 70px;
	}
	#game_piece
	{			
		height: 220px;		
		width: 220px;
	}
	#game_piece_4x4
	{			
		height: 165px;		
		width: 165px;
	}
	.number_container_4x4
	{	
		font-size: 70px;
	}
	.number_container
	{	
		font-size: 90px;
	}
	#talking_box2
	{
		width: 750px;
		font-size: 100px;
		margin-bottom: 50px;
	}
	#talking_box3
	{
		width: 750px;
		font-size: 70px;
		margin: 75px auto 0px auto;
	}
	#entrada_texto{
		width: 600px;
		font-size: 75px;
	}	
	#modo{
		font-size: 50px;
		width: 350px;
		height: 70px;
		margin-top: 50px;
	}
	#modoTablero{
		font-size: 50px;
		width: 150px;
		height: 70px;
		margin-top: 50px;
	}
	#play {
		width: 250px;
		height: 250px;
	}
	#score{
		width: 250px;
	}
	#botones{
		padding: 50px;
	}
	#contenedorTituloPuntuacion{
		width: 650px;
	}
	#filas{
		font-size:27px;
	}
	th{
		padding: 12px;
	}
	#tablaPuntuacion{
		margin-top: 30px;
	}
	#textos{
		margin-top: 90px;
		width: 750px;
	}
}